// Place all the styles related to the api/bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bookings-container{
  display: flex;
  position: fixed;
  bottom: 5%;
  left: 60%;
  width: 100%;
  border:1px solid rgb(235, 235, 235);
  form {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.guests-button-container{
  display: flex;
  flex-direction: row;

  .guests-val{
    font-size: 3vh;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .guests-label{
    padding-top: 2px;
    padding-right: 20px;
  }
  .guest-button {
    font-weight: lighter;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1rem;
    color: #008489;
    display: inline-block;
    border: 2px solid #008489;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .butt-animation:hover {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px,
                rgb(113, 113, 113) 0px 0px 0px 5px,
                rgba(255, 255, 255, 0.5) 0px 0px 0px 6px; 
    border-radius: 50%;
    transition: box-shadow 0.2s ease 0s;

  }

}

.box-submit{
  border: 0px none;
  background: #ff5a5f;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  color: white;
}