// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listings-index{
  margin-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  line-height: 1.43;
  text-decoration: none;
}

.listings-index-ul{
  width: 800px;
  height: 200px;
}.listings-index-item {
    position: relative;
    color: rgb(72, 72, 72) !important;
    margin-left: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    border:1px solid rgb(235, 235, 235);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
  }.listings-index-item:hover{
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  }.listings-index-item-details{
    width: 100%;
  }
  .listings-index-price{
    position: absolute;
    display: flex;  
    flex-direction: flex-end;
  }
  a {
    color: inherit;
  }


.listings-index-map{
  position: absolute !important;
  display: block !important;
  right: 0px !important;
  height: calc(100vh - 128px) !important;
  width: calc(100% - 840px) !important;
} #map-container {
    height: 100%;
    width: 100%;
}

.listings-show-container{
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    line-height: 1.43;
}