// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  height: 70px;
  width: 100%;
  z-index: 10;
  top: 0;
  background: white;
  border-bottom: 1px solid #e4e4e4;
  align-items: center;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  position: fixed;
} nav {
  height: inherit;
  display: flex;
  flex-direction: row;
}  
.nav-button {
    font-size: 14px;
    border: none;
    height: inherit;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: #484848;
}

.nav-button:hover{
  padding-top: 2px;
  border-bottom: 2px solid #484848;
  cursor: pointer;
  }
button {
  cursor: pointer;
}
.nav-logo{
  background-image: image_url("lifts_in_n_out_logo.png");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}

